<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style=" background-color: #00c0b3;">

 <div class="container">
    <div class="row">
	
	
	 <img class="img-responsive img-full" src="img/error.jpg" alt="" style="padding-top:20px; ">
	

	
	
	
	</div>
</div>



</body>
</html>