<script type="text/javascript" src="buttonsfunc.js"></script>

<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-size:cover; background-image:url('img/bg.png');">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <form id="frm1">
        <div class="container">
            <div style="margin-top:20%;" class="row">

                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                    <h1 class="text-center" style="  margin: 0 0 3% 0 ; padding: 0 0 0 0 ;">Create new room</h1>
                    <div style="text-align:center; margin-bottom:30%;">
                        <input class="text-center btn btn-success" type="button" onclick="createnewroom()" value="New room">
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <h1 class="text-center" style=" margin: 0 0 3% 0 ; padding: 0 0 0 0 ;">Existing room</h1>

                    <input placeholder="ID" label="ID" class="form-control" type="text" name="fname" id="text">

                    <div style="text-align:center;margin-top:10px">
                        <input class=" text-center btn btn-primary" type="button" onclick="gotourl()" value="Existing room">
                    </div>
                </div>
            </div>
        </div>

    </form>
</body>

</html>